* {
    box-sizing: border-box;
    margin: 0;
}
main {
    text-align: center;
}
#gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 50px auto;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 700;
    font-family: Helvetica;
    width: 200px;
    height: 200px;
}
.left { border-left: 2px solid black; }
.right { border-right: 2px solid black; }
.bottom { border-bottom: 2px solid black; }